/********** Template CSS **********/
:root {
    --primary: #1F3BB3;
    --light: #F3F6F9;
    --dark: #222222;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    padding-left: 23px;
    padding-right: 23px;
}
body{
    height: 100% !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: 14px !important;
}
.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
    display: flex;
    align-items: center;
    white-space: normal;
    font-size: 14px;
    line-height: 1.2;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: #191c24;
    background: #FFFFFF;
    border-color: #191c24;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #12b07f;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: #c9c9c9;
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: #12b07f;
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}
.success-btn{
    color: #0f5132;
    background-color: #cbead5 !important;
}
.primary-btn{
   background-color:  #1F3BB3 !important;
   color: #fff;
   border-color: #1F3BB3 !important;
}
.success-btn:hover{
    color: #0f5132;
}
.primary-btn:hover{
    color: #fff;
}
.danger-btn:hover{
    color: #842029;
}
.danger-btn{
    color: #842029;
    background-color: #f8d7da !important;
}
.table td{
    font-size: 14px;
    font-weight: 400;
    color: #8691aa;
    border: none;
    padding: 10px;
    vertical-align: top;
}
.table th{
    border: none;
    font-size: 14px;
    font-weight: 400;
}
.table tr{
    font-size: 14px;
    font-weight: 500;
    border: none;
    color: #000000;
    vertical-align: bottom;
}
.row__action{
    font-size: 0;
    padding-top: 10px;
    visibility: hidden;
    pointer-events: none;
}
.row__action a{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #999;
    line-height: 14px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #0073aa;
}
.table tr:hover .row__action {
    visibility: visible;
    pointer-events: all;
}
.row__action a:last-child {
    margin-right: 0;
    border: none;
    padding-right: 0;
}
.bg-dark{
    background-color: #f5f5f5;
}
.form-control{
    font-size: 14px;
}
.product__thumb img{
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
}
.bg-white{
    background-color: #ffffff !important;
}
.profile__img img{
    width: 100%;
    border-radius: 50%;
}

.success-bg{
    border-color: #36c409;
}
.danger-bg {
    border-color: #ff2b00;
}
.checkpassword .alert_sms {
    background-color: #fff;
    color: #03bc22;
    font-size: 16px;
    font-weight: 900;
}
.checkpassword .alert_sms_danger {
    background-color: #fff;
    color: #ff2b00;
    font-size: 16px;
    font-weight: 900;
}
 #profile_page .display{
    display: none;
 }
 .bg-dark{
    color: var(--dark);
 }
 .btn-dark:hover {
    color: #fff;
    background-color: #12b07f;
    border-color: #12b07f;
}
.navbar .navbar-logo img{
    width: 216px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}
.deleteModal .modal-content{
    padding: 15px;
    text-align: center;
}
.alertModal .modal-content{
    padding: 15px;
    text-align: center;
    color: #222;
    font-weight: 900;
}
.WrongAnswerModal .modal-content{
    padding: 15px;
    text-align: center;
    border-radius: 20px;
}
.deleteModal .modal-content i{
    font-size: 29px;
    border-radius: 50%;
    background-color: #12b07f;
    color: #fff;
    padding: 11px;
}
.alertModal .modal-content i{
    font-size: 29px;
    border-radius: 50px;
    background-color: #e25a67;
    color: #fff;
    padding: 17px;
}
.modal span{
    font-weight: 800;
    color: #222;
    font-size: 14px;
}
.table tr:hover{
    background-color: #f3f6f9;
}
.WrongAnswerModal .modal-content i{
    font-size: 28px;
    border-radius: 44%;
    background-color: #9a1004;
    color: #fff;
    padding: 10px;
}
.ava-alert__text{
    padding: 15px;
    line-height: 1.5em;
    color: #585858;
    font-size: 15px;
}
.view_modal{
    border-top: 8px solid #12b07f;
}
.modal_footer{
    padding: 14px;
}
.modal_footer button{
    background: #12b07f;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}
.enquiry_table select{
    width: 87%;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0px;
}
#flexCheckChecked{
    position: absolute;
    padding: 7px;
    margin-left: 5px;
}
.option_checkbox{
    margin-right: 22px;
}

#notes1{
    padding-bottom: 1px;
    padding-top: 10px;
    background: #f3f6f9;
}
.customer_card .fs{
    font-size: 13px;
}
.details_cardhead h2{
    font-size: 20px;
}
.customer_span{
    color: #12b07f;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 900;
}
.form-group{
    text-align: left;
}
.enquiry_table textarea{
    width: 80%;
}
/*------------------------*/
    #enquiry_page input:focus,
    button:focus,
    #enquiry_page .form-control:focus {
        outline: none;
        box-shadow: none;
    }

    #enquiry_page .form-control:disabled,
    #enquiry_page .form-control[readonly] {
        background-color: #fff;
    }

    /*----------step-wizard------------*/
    #enquiry_page .d-flex {
        display: flex;
    }

    #enquiry_page .justify-content-center {
        justify-content: center;
    }

    #enquiry_page .align-items-center {
        align-items: center;
    }

    /*---------signup-step-------------*/
    #enquiry_page .bg-color {
        background-color: #333;
    }

    #enquiry_page .signup-step-container {
        padding: 80px 0px;
        padding-bottom: 60px;
    }

    #enquiry_page .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
        width: 60%;
        margin: 0 auto;
    }

    #enquiry_page .wizard>div.wizard-inner {
        position: relative;
        margin-bottom: 50px;
        text-align: center;
    }

   #enquiry_page .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 50%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 15px;
        z-index: 1;
    }

    #enquiry_page .wizard .nav-tabs>li.active>a,
    #enquiry_page .wizard .nav-tabs>li.active>a:hover,
    #enquiry_page .wizard .nav-tabs>li.active>a:focus {
        color: #555555;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
    }

   #enquiry_page span.round-tab {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        z-index: 2;
        /* position: absolute;
  left: 0; */
        text-align: center;
        font-size: 16px;
        color: #0e214b;
        font-weight: 500;
        border: 1px solid #ddd;
    }

    #enquiry_page span.round-tab i {
        color: #555555;
    }

    #enquiry_page .wizard li.active span.round-tab {
        background: #12b07f;
        color: #fff;
        border-color: #12b07f;
    }

    #enquiry_page .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

    #enquiry_page .wizard .nav-tabs>li.active>a i {
        color: #12b07f;
    }

    #enquiry_page .wizard .nav-tabs>li {
        width: 30%;
    }

    #enquiry_page .wizard li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: red;
        transition: 0.1s ease-in-out;
    }

    #enquiry_page .wizard .nav-tabs>li a {
        width: 30px;
        height: 30px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
        background-color: transparent;
        display: block;
        position: absolute;
        transform: translateY(-60%);
    }

    #enquiry_page .wizard .nav-tabs>li:first-child a {
        left: 0;
    }

    #enquiry_page .wizard .nav-tabs>li:last-child a {
        right: 0;
    }

    #enquiry_page .wizard .nav-tabs>li a i {
        position: absolute;
        top: -15px;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: 700;
        color: #000;
    }

    #enquiry_page .wizard .nav-tabs>li a:hover {
        background: transparent;
    }

    #enquiry_page .wizard .tab-pane {
        position: relative;
        padding-top: 20px;
    }

    #enquiry_page .wizard h3 {
        margin-top: 0;
    }

    #enquiry_page .prev-step,
    #enquiry_page .next-step {
        font-size: 13px;
        padding: 6px 24px;
        border: none;
        border-radius: 4px;
        margin-top: 30px;
    }
    .after_line:after {
        content: "";
        display: inline-block;
        height: 0.6em;
        vertical-align: bottom;
        width: 81%;
        margin-right: -100%;
        margin-left: 5px;
        border-top: 1px solid #d9d9d9;
      }
    .enquiry_notes:after {
        content: "";
        display: inline-block;
        height: 0.6em;
        vertical-align: bottom;
        width: 87%;
        margin-right: -100%;
        margin-left: 5px;
        border-top: 1px solid #d9d9d9;
      }
      .company_info:after {
        content: "";
        display: inline-block;
        height: 0.6em;
        vertical-align: bottom;
        margin-right: -100%;
        margin-left: 3px;
        border-top: 1px solid #d9d9d9;
        width: 75% !important;
      }
      .address_info:after {
        content: "";
        display: inline-block;
        height: 0.6em;
        vertical-align: bottom;
        margin-right: -100%;
        margin-left: 5px;
        border-top: 1px solid #d9d9d9;
        width: 72% !important;
      }
      .form-label{
        margin-bottom: 0 !important;
        font-size: 11px;
        letter-spacing: 1px;
      }
    #enquiry_page .next-step {
        background-color: #12b07f;
        color: #fff;
    }
    #MeasurementBtn {
        background-color: #12b07f;
        color: #fff;
        margin-bottom: 4px;
    }

    #enquiry_page .step-head {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
    }

    #enquiry_page .term-check {
        font-size: 14px;
        font-weight: 400;
    }

    #enquiry_page .list-content {
        margin-bottom: 10px;
    }

    #enquiry_page .list-content a {
        padding: 10px 15px;
        width: 100%;
        display: inline-block;
        background-color: #f5f5f5;
        position: relative;
        color: #565656;
        font-weight: 400;
        border-radius: 4px;
    }

    #enquiry_page .list-content a[aria-expanded="true"] i {
        transform: rotate(180deg);
    }

    #enquiry_page .list-content a i {
        text-align: right;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: 0.5s;
    }

    #enquiry_page .form-control[disabled],
    #enquiry_page .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: #fdfdfd;
    }

    #enquiry_page .list-box {
        padding: 10px;
    }

    #enquiry_page .list-inline li {
        display: inline-block;
    }

    #enquiry_page .pull-right {
        float: right;
    }

    #enquiry_page .search_row {
        padding: 10px;
    }

    #enquiry_page .search_row input {
        padding: 10px;
        padding-left: 20px;
        border-radius: 154px;
    }

    #enquiry_page table th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        vertical-align: middle;
    }

    #enquiry_page tr:nth-child(even) {
        background-color: #dddddd;
    }
    #not_found1{
        padding: 5px;
        color: #f00;
    }
    #not_found{
        padding: 5px;
        color: #f00;
    }
    .borderless th{
        border: 1px solid #ffffff !important;
    }
    
    #enquiry_page table i {
        width: 40px;
        height: 40px;
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        background: #12b07f;
        color: #222;
        border-radius: 40px;
    }

    #enquiry_page .form-control:read-only {
        background-color: #ffffff;
    }

    #search_Emp_table .display {
        display: none;
    }
    .display{
        display: none;
    }
    #search_table .display {
        display: none;
    }
    #enquiry_page .extra-fields-customer{
      padding: 0px 5px 0px 5px;
    }
    #enquiry_page .extra-service-add{
      padding: 0px 5px 0px 5px;
    }
    #enquiry_page .btn-remove-customer{
      padding: 0px 5px 0px 5px;
    }
   #enquiry_page .input_field_width{
    width: 88%;
   }
   #enquiry_page .col-md-2{
    width: 13.66667% !important;
   }
   .bg-primary {
        background-color: #050eeb !important;
    }
    .customer_details{
        font-weight: 700;
        color: #222;
    }
    .enquiry_details table thead{
        background: #EEE;
        font-weight: bold;
        border-color: #BBB;
        border-radius: 0.25em;
        padding: 0.5em;
        position: relative;
    }
    .enquiry_details table th{
        font-size: 13px;
    }
    .form_header{
        background: #f3f6f9;
    }
    .enquiry-tabs {
        z-index: 1000!important;
    }
    li.disabled a {
        cursor: not-allowed!important;
        pointer-events: none!important;
    } 
    .submit_btn{
        padding-top: 22px;
    }

    .enquiry_edit_span{
        color: #12b07f;
        letter-spacing: 2px;
        font-size: 15px;
        padding-bottom: 10px;
        font-weight: 900;
    }
    .customrrData {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px!important;
        background: #F3F6F9;
        cursor: pointer;
    }
    .report_export_btn{
        padding-top: 56px;
        padding-left: 21px;
    }
    .placeholder{
        font-size: 10px;
        height: 66%!important;
    }
    .placeholder:focus{
        font-size: 10px;
        height: 66%!important;
    }
    @media (max-width: 767px) {
        #enquiry_page .sign-content h3 {
            font-size: 40px;
        }

        #enquiry_page .wizard .nav-tabs>li a i {
            display: none;
        }
        
    }
